
* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Liter", sans-serif;
    font-weight: 400;
    font-style: normal;

}
li {
    list-style-type: none; 
}

a { 
    text-decoration: none;
}

body{
    background-color: #3f4b5f;
}
main{
    padding: 0 2.5% 2% 2.5%;
}
/*HEADER*/
header{
    margin: 2% 2.5% 0 2.5%;
    background-color: rgb(34, 40, 49)  ;
    border-radius: 50px;
    display: flex;

}
header .logo{
    width: 13%;
}
header .logo a{
    display: flex;
    align-items: center;
    padding: 1vw 1vh 1vw 4vh ;
}
header .logo a img{
    align-content: center;
    width: 70px;
    height: 40px;
}

header nav {
    display: flex;
    align-items: center;    
    width: 74%;
}

header nav form{
    width: 100%;
}
header nav input{
    background-color: rgb(34, 40, 49); 
    color: white;            
    border: 1px solid #3a3f44;
    height: 40%;
    margin-right: 1%;
    padding: 0.5%;
    border-radius: 10px;
    width: 20%;
}
header nav button {
    background-color: rgb(61, 61, 61); 
    color: white;
    padding: 0.2vw;
    border-radius: 10px;
    height: 40%;
    border: none;
    width: 5%;
}

header nav button:hover {
    background-color: #4c5056; 
    border-color: white;
}

header .menu{
    width: 13%;
    display: flex;
    align-items: center;
}
header .menu a{
    color: white;
    padding: 2%;
}   

/*MAIN INDEX*/
.bienvenidaQuerry{
    display: none;
}
.bienvenidOriginal{
    display: flex;
    align-items: center;
}
main .categorias ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2% 1% 2% 1%;
    border-radius: 12px;
    background-color: rgb(228, 228, 228); 
    width: 100%;
    height: 8vh;
    flex-wrap: wrap;
    font-size: small;
}

main .categorias ul li a{
    color: #2F3A4C;
}

main .container{
    display: flex;
    flex-wrap: wrap;

}

main .aleatorio .bannerAleatorio{
    text-align: center; 
    align-content: center;
    width: 100%;
    padding: 5%;
    background-image: url("../img/banner1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    margin: 0 1% 0 1%;
}

main .aleatorio .bannerAleatorio h2{
    font-weight: bold;
    color: white;   
}

main .masVendidos .bannerVendidos{
    text-align: center; 
    font-weight: bold;
    align-content: center;
    width: 100%;
    padding: 5%;
    color: white;   
    background-image: url("../img/banner2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    margin: 0 1% 0 1%;
}

main .masVendidos .bannerVendidos h2{
    font-weight: bold;
    color: white;   
}


main .container .productos{
    width: 18%;
    background-color: rgb(34, 38, 44);
    margin: 1%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
main .container .productos .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
main .container .productos .info h3{
    padding: 4% 2% 2% 2%;
}

main .container .productos .info p{
    padding: 2%;
}

main .container .productos .info a{
    padding: 2%;
    width: fit-content;
    background-color: rgb(61, 61, 61); 
    border-radius: 10px;
    margin: 2% 0 2% 2%;
}

main .container .productos img{
    width: 100%;
    border-radius: 5px;
    height: auto;
}

main .masVendidos{
    margin-top: 10vh;
}

/*REGISTRO*/


footer{
    background-color: rgb(34, 40, 49) ;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*REGISTRO*/

.bodyregistro {
    background-image: url(../img/bg2.png);
    background-repeat: repeat;
    background-size: cover;
} 

.mainregistro h2 {
    text-align: center;
}

.mainregistro {
    margin: 0 30% 0 30%;
    padding: 3% 8% 3% 8%;
    background-color: rgba(37, 38, 45);
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.registro {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registro input, 
.registro button {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 12px;
    color: black;
    margin-top: 5px;
}

.registro label {
    display: block;
    font-size: 13px;
    margin-bottom: 2px;
}

.registro div {
    margin-bottom: 12px;
}

.registro button {
    background-color: rgb(61, 61, 61);
    color: white;
}

.registro button:hover {
    background-color: #4c5056;
}

.registro input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

/* PRODUCTOS */

footer{
    background-color: rgb(34, 40, 49) ;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*LOGIN 2*/

.bodylogin{
    background-image: url(../img/bg2.png);
    background-repeat: repeat;
    background-size: cover;
} 

.mainlogin h2 {
    text-align: center;
}

.mainlogin {
    margin: 0 30% 0 30%;
    padding: 3% 8% 3% 8%;
    background-color: rgba(37, 38, 45);
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.login {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login input, 
.login button {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 12px;
    color: black;
    margin-top: 5px;
}

.login label {
    display: block;
    font-size: 13px;
    margin-bottom: 2px;
}

.login div {
    margin-bottom: 12px;
}

.login button {
    background-color: rgb(61, 61, 61);
    color: white;
}

.login button:hover {
    background-color: #4c5056;
}

.login input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

/*PRODUCTOS 2*/

.mainproductos2{
    margin: 13px;
    padding-left: 5%;
    padding-right: 5%;
}
.detalleproducto {
    display: flex;
    align-items: flex-start;
}

.fotos_responsive{
    display: none;
}

.fotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    padding: 5px; 
    box-sizing: border-box;
}

.fotos img {
    width: 100%;
    height: auto;
    padding: 5px;
}

.descripcion {
    width: 300px; 
    margin-left: 20px; 
}

.descripcion h4 strong{
    font-weight: bold;
}

.descripcion h3 strong{
    font-weight: bold;
}

.descripcion img{
    width: 20%;
}


/* CATEGORIAS */

.categoriabuzos{
    display: flex;
    flex-wrap: wrap;
}

main .bannerbuzos{
    text-align: center; 
    font-weight: bold;
    align-content: center;
    padding: 5%;
    color: white;   
    background-image: url("../img/banner4.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    margin: 1% 1% 1% 1%;
}

main .categoriabuzos .productoscategoria{
    width: 18%;
    background-color: rgb(34, 38, 44);
    margin: 1%;
    display: flex;
    flex-direction: column;
}
main .categoriabuzos .productoscategoria .infobuzos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
main .categoriabuzos .productoscategoria .infobuzos h3{
    padding: 4% 2% 2% 2%;
}

main .categoriabuzos .productoscategoria .infobuzos p{
    padding: 2%;
}

main .categoriabuzos .productoscategoria .infobuzos a{
    padding: 2%;
    width: fit-content;
    background-color: rgb(61, 61, 61); 
    border-radius: 10px;
    margin: 2% 0 2% 2%;
}

main .categoriabuzos .productoscategoria img{
    width: 100%;
    border-radius: 5px;
    height: auto;
}

main .masVendidos{
    margin-top: 10vh;
}

/* SEARCH-RESULTS */

.results-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 16px;
}

.results-container h2 {
    margin-bottom: 24px;
    font-size: 24px;
}

.result-item {
    background: #d3d3d3;   
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 24px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.result-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 16px;
    border-radius: 6px;
}

.result-item h3 {
    margin: 8px 0;
    font-size: 19px;
}

.result-item p {
    font-size: 16px;
    margin-bottom: 8px;
}

.result-item a {
    display: inline-block;
    margin-top: 8px;
    padding: 8px 16px;
    background: #4c5056;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.result-item a:hover {
    background: #0041a8;
}

/* Mensaje de "sin resultados" */
.no-results {
    padding: 1rem;
    background: #ffecec;
    border: 1px solid #f5c2c2;
    border-radius: 6px;
    color: #d8000c;
    text-align: center;
}

/* FOOTER LOGIN Y REGISTER */
.footerlogreg{
  position: fixed;
  bottom: 0;    
  left: 0;
  width: 100%;
}


/* RESPONSVE */

@media (max-width: 420px) {
    /* HEADER */
    header .menu{
        width: fit-content;

    }
    header .logo {
        width: fit-content;
    }
    header .logo a{
        padding-left: 20%;
        width: fit-content;
        padding-right: 0;   
    }
    header .logo a img{
        width: fit-content;
    }
    header .menu a{
        font-size: x-small;
        padding-bottom: 0;
    }   
    header nav{
        width: 50%;
        margin-left: 5%;
    }
    header nav input{
        width: 65%;
    }
    header nav button{
        width: fit-content;
    }
    #logout{
        font-size: small;
    }
    /* INDEX */
    .bienvenidaQuerry{
        display: block;
    }
    .bienvenidaQuerry p{
        text-align: center;
    }
    .bienvenidOriginal{
        display: none;
    }
    main .container .productos{
        width: 48%;
    }
    main .categorias ul{
        width: 100%;
        height: fit-content;
    }
    main .categorias ul li a{
        font-size: small  ;

    }

    
    /* Category*/
    .maincategory .categoriabuzos .productoscategoria{
        width: 100%;
    }
    .maincategory .bannerbuzos{
        margin-top: 5%;
    }
    .maincategory .categoriabuzos {
        flex-wrap: wrap;
    }
    .mainregistro{
        margin: 10% 10% 0 10%;
    }
    .mainlogin{
        margin: 10% 10% 0 10%;
    }

    /* FOOTER */
    footer p{
        text-align: center;
    }
    /* PRODUCTOS2 */
    .detalleproducto {
        flex-direction: column;
        align-items: center;
    }

    .fotos_responsive{
        display: block;
        width: 100%;
    }

    .fotos {
        display: none;
    }

    .fotos_responsive img{
        width: 48%;
    }

    .descripcion {
        max-width: 100%;
        margin-left: 0;
        margin-top: 15px;
        padding: 0 5px;
        text-align: left; 
    }

    .descripcion h2 {
        font-size: 20px;
    }

    .descripcion h4 {
        font-size: 14px;
    }

    
}
